@keyframes heartbeat {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes sparking {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes disco {
  to {
    filter: hue-rotate(360deg) saturate(500%) brightness(150%);
  }
}

@keyframes dancing {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.like-icon.is-liked .whole-heart {
  animation: heartbeat 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color-accent, #FF0000);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-color-accent, #FF0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart-body {
  fill: var(--heart-color-accent, #FF0000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .sparks {
  animation: sparking 0.3s ease-in 0.3s 1;
}
